{% extends 'base.html.twig' %}

{% block title %}New PedidoProductoCantidad{% endblock %}

{% block body %}
    <h1>Create new PedidoProductoCantidad</h1>

    {{ include('pedido_producto_cantidad/_form.html.twig') }}

    <a href="{{ path('pedido_producto_cantidad_index') }}">back to list</a>
{% endblock %}