{% extends 'base.html.twig' %}

{% block title %}Edit Direccion{% endblock %}

{% block body %}
    <h1>Edit Direccion</h1>

    {{ include('direccion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('direccion_index') }}">back to list</a>

    {{ include('direccion/_delete_form.html.twig') }}
{% endblock %}