{% extends 'base.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block body %}
    <h1>Crear nuevo Producto</h1>

    {{ include('producto/_form.html.twig') }}

    <a href="{{ path('producto_index') }}">Lista</a>
{% endblock %}