{% extends 'base.html.twig' %}


{% block header %}

<header>
		<div id="menu" class="row">		
			<nav class="navbar navbar-light navbar fixed-top">
					<div class="row justify-content-center">
						<div class="alert alert-danger" role="alert">
				  			Comunicado Bebida Fresa Plátano Soja Hacendado
						</div>
					</div>
				
				<a class="navbar-brand" href="#">
				    <img src="https://www.mercadona.com/estaticos/images/mercadona_logo/es/mercadona-imagotipo-color-300.png" width="230" height="35" class="d-inline-block align-top" alt="">			    
				</a>
			  	<ul class="nav">
					 <li class="nav-item">
					    <a class="nav-link" href="#">Conócenos</a>
					 </li>
					 <li class="nav-item">
					    <a class="nav-link" href="#">Supermercados</a>
					 </li>
					 <li class="nav-item">
	 				    <a class="nav-link" href="#">Trabaja con nosotros</a>
					 </li>
					 <li class="nav-item">
					    <a class="nav-link" href="#">Atención al cliente</a>
					 </li>
				</ul>
			</nav>			
		</div>

	</header>

{% endblock %}



{% block footer %}
<footer>
	<div class="row">
		<div class="col">
		     <ul>
		        <dt><h4>Clientes</h4></dt>
		        <dt><a href="">Supermercado</a></dt>
		        <dt><a href="">Consejos</a></dt>
		        <dt><a href="">Tarjeta mercadona</a></dt>
		        <dt><a href="">Factura cliente</a></dt>
		     </ul>
	    </div>
	    <div class="col">
	        <ul>
		        <dt><h4>Trabajador</h4></dt>
		        <dt><a href="">Trabaja con nosotros</a></dt>
	       </ul>
	    </div>
	    <div class="col">
	        <ul>
		        <dt><h4>Proveedor</h4></dt>
		        <dt><a href="">E-factutas proveedores</a></dt>
		        <dt><a href="">Portal Trinidad</a></dt>
	       </ul>
	    </div>
	    <div class="col">
	        <ul>
		        <dt><h4>Sociedad</h4></dt>
		        <dt><a href="">Actualidad</a></dt>
		        <dt><a href="">Sala de prensa</a></dt>
		        <dt><a href="">Conoce Mercadona</a></dt>
		        <dt><a href="">Mercadona en Portugal</a></dt>
	        </ul>
	    </div>
	    <div class="col">
	        <ul>
		        <dt><a href=""><i class="far fa-envelope"></i>Contacto</a></dt>
		        <dt><a href=""><i class="fas fa-mobile-alt"></i>|900 500 103</a></dt>
		        <dt><a href=""> <i class="fab fa-facebook"> </i>  <i class="fab fa-twitter"></i>  <i class="fab fa-youtube"></i>  <i class="fab fa-instagram"></i></a></dt>
	        </ul>
	    </div>

    </div>
</footer>
{% endblock %}