{% extends 'tienda/base.html.twig' %}

{% block body %}

	<div class="container">

		<div class="row">
			<div class="col-md-4">
				<h1>Nos reiventamos contigo</h1>
				<button type="button" class="btn btn-secondary">Ver productos</button>
			</div>
			<div class="col-md-8">
				<img src="https://valenciaplaza.com/public/Image/2018/3/1519931502mercadona_NoticiaAmpliada.jpg" width="600" height="200" alt="">
			</div>
		</div>
	

	<div>
		<p> Novedades </p>
	</div>




	<div class="row">
	    {% for producto in productos %}
	    	<div class="col15"> 
			  <div class="card">
			    <img src="{{ producto.imagen }}" alt="Symfony!" width="20" height="">
			    <div class="card-body min-height">
			      <h5 class="card-title">{{ producto.nombre }}</h5>
			      <h5 class="card-title">{{ producto.descripcion }}</h5>
			      <p class="card-text"><b>{{ producto.precio|number_format(2, '.', ',') }} €</b>/ud.</p>
			      <div class="dropdown-divider"></div>
			      <button type="button" class="btn btn-outline-warning">Añadir al carro</button>
			    </div>
			  </div>
			</div>
			  
	    {% endfor %}
	</div>

{% endblock %}
